#filter_sort_search{
    /* border: 1px solid red; */
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5%;
}

table#displayFlats{
    border: 2px solid black;
    border-radius: 5px;
    border-spacing: 0px;
    padding: 1rem;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5%;
}

table#displayFlats > tbody > tr:nth-child(odd){
    background: pink;
}

table#displayFlats th, table#displayFlats td{
    padding: 5px;
}

div#navigatePage{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 30px;
}

.tr_btn{
    border: 1px solid black;
    border-radius: 3px;
    background: transparent;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.3rem;
}