#register_form{
    width: 30%;
    margin: 0% auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.register_entry{
    padding: 0.5rem 1rem;
}

#register_form h2{
    text-align: center;    
}